@media screen and (max-width: 620px) {
	.wrapper {
		width: 100%;
	}
	#bars, #hide_it2, .search_box a, .mobile2, .right_image, .mid_image, .left_image, .mobile3, .mobile4 {
		display: none;
	}
	#appo, #btn {
		margin: 0 20px;
	}
	#btn {
		float: right;
		margin-top: 10px;
		display: block;
		cursor: pointer;
	}
	.navigation_section ul {
		position: fixed;
		top: 50px;
		left: -50%;
		background-color: #223047;
		opacity: 0.9;
		width: 100%;
		height: 350px;
		text-align: center;
		transition: all 0.3s;
	}
	.navigation_section ul li {
		display: block;
		padding: 0;
		margin: 25px 0;
	}
	.navigation_menu ul .hide {
		display: block;
	}
	.navigation_section ul li a {
		font-size: 20px;
	}
	.navigation_section .getapp {
		display: none;
	}
	#check:checked ~ .navigation_menu ul {
		left: 50%;
	}
	.body_section1 {
		height: 1200px;
	}
	.t-center {
		text-align: center;
	}
	.body_section1 .wrapper {
		width: 75%;
	}
	.contents {
		grid-template-columns: auto;
		grid-row-gap: 25px;
	}
	.body_section2 {
		height: 756px;
	}
	.body_section3 {
		height: 900px;
	}
	#hide_it {
		display: block;
		height: 378px;
		width: 100%;
		background-color: #223047;
	}
	.holder {
		width: 85%;
	}
	.right {
		width: 100%;
		float: none;
	}
	.left {
		width: 90%;
		float: none;
		margin: 0 5%;
	}
	.cap4, .dis4 {
		float: none;
		text-align: center;
		text-align-last: center;
	}
	#place_it {
		display: flex;
		justify-content: center;
	}
	.code {
		margin-left: 0;
		display: flex;
		justify-content: center;
	}
	.holder2 {
		margin-left: 10%;
	}
	.body_section4 {
		height: 320px;
		position: relative;
	}
	.choice {
		float: none;
		margin-left: 0;
		position: relative;
	}
	.choice_items {
		position: absolute;
		display: block;
		left: 50%;
		transform: translate(-100%, 0);
	}
	.body_section4 .cap4 {
		padding-top: 50px;
	}
	.body_section4 .dis4 {
		position: absolute;
		bottom: 15%;
		left: 0;
	}
	.body_section5 {
		height: 400px;
	}
	.holder3 {
		width: 85%;
	}
	.body_section6 {
		height: 400px;
	}
	#map_size {
		max-width: 400px;
		height: auto; 
	}
	.cap7 {
		top: 100px;
		text-align: center;
	}
	.dis6 {
		top: 200px;
	}
	.load {
		top: 250px;
	}
	.body_section8 {
		height: 350px;
	}
	.holder4 {
		width: 85%;
		transform: translate(-50%, -50%);
	}
	.cap8, .dis7 {
		text-align: center;
	}
	#store_items {
		display: flex;
		justify-content: center;
	}
	.body_section9 {
		height: 620px;
	}
	.body_section9 .wrapper {
		width: 80%;
	}
	.grid_container2 {
		grid-template-columns: 33.33% 33.33% 33.33%;
		margin-bottom: 60px;
	}
	#count_me {
		display: block;
		margin-top: 10px;
		padding: 0 20px;
		font-size: 14px;
	}
	.body_section10 .wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cap11, .body_section10 img {
		float: none;
	}
	.body_section10 img {
		margin-left: 0;
		margin-right: 40px;
	}
	#final {
		margin-top: 15px;
	}
}
@media (max-width: 652px) {
	.btn {
		padding: 0 25px;
	}
}
@media (max-width: 450px) {
	#map_size {
		max-width: 300px;
	}
}
@media (max-width: 500px) {
	.today {
		font-size: 13px;
		padding: 14px 30px;
	}
	.body_section9 {
		height: 750px;
	}
	.body_section9 .wrapper {
		width: 65%;
	}
	.grid_container2 {
		grid-template-columns: 50% 50%;
	}
}